
@{
    Layout = null;
}

@model int

@if (Model > 0)
{
    <div style="display:flex; align-items:center; justify-content:center; position:absolute; width:18px; height:18px; border-radius:50%; background-color:rgb(29, 155, 240); font-size:14px; transform:translate(10px,-10px)">
        @Model
    </div>
}
