@{
    Layout = null;
}

@model AppUser



<button class="profile-button w-100" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <div class="profile responsive-profile justify-content-between">
        <div class="d-flex">
            <div class="image">
                <img src="/assets/images/ProfileImages/@Model.ProfilePhoto"
                     alt="">
            </div>

            <div class="names">
                <div class="username d-flex">
                    <span>@Model.Name</span>
                    @if (Model.IsPremium)
                    {
                        <div class="verify-icon-blue">
                            <i class='bx bxs-badge-check'></i>
                        </div>
                    }
                    else if (Model.IsVerified)
                    {
                        <div class="verify-icon-yellow">
                            <i class='bx bxs-badge-check'></i>
                        </div>
                    }
                    else if (Model.IsGovermentVerified)
                    {
                        <div class="verify-icon-blue" style="color:#839aaa">
                            <i class='bx bxs-badge-check'></i>
                        </div>
                    }
                    else
                    {

                    }
                </div>
                <div class="name" style="width:fit-content;">
                    <span>@@@Model.UserName</span>
                </div>
            </div>

        </div>
        <div class="more" style="width:auto;">
            <i class="fa-solid fa-ellipsis"></i>
        </div>
    </div>
</button>
<ul class="dropdown-menu menu-border menu-transform-up post-menu min-width-300">
    <li>
        <a class="dropdown-item text-bg-dark dark d-flex justify-content-start align-items-center hover-medium border-radius-0"
           href="#">
            <span class="text">Manage account</span>
        </a>
    </li>
    <li>
        <a class="dropdown-item text-bg-dark dark d-flex justify-content-start align-items-center hover-medium border-radius-0"
           asp-action="logout" asp-controller="auth">
            <span class="text">Log out @@@Model.UserName</span>
        </a>
    </li>
</ul>
