@using FinalProject.ViewModels.Settings;

@{
    ViewData["Title"] = "Index";
}

@model UserUpdateViewModel

<div class="content">
    <div class="top-side blur">
        <div class="search-side">
            <div class="custom-container">
                <div class="responsive-top">
                    <a data-bs-toggle="offcanvas" href="#offcanvas" role="button"
                       aria-controls="offcanvasExample">
                        <div class="image">
                            <img src="https://w7.pngwing.com/pngs/858/581/png-transparent-profile-icon-user-computer-icons-system-chinese-wind-title-column-miscellaneous-service-logo.png"
                                 alt="">

                        </div>
                    </a>
                </div>
                <div class="text">
                    <div class="bookmarks">
                        <span>Settings</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <a class="post hover-medium text-light d-flex justify-content-between" style="padding:12px 16px" type="button" data-bs-toggle="modal" data-bs-target="#UserNameModal">
        <span>
            Change Username
        </span>
        <span>
            <i class="fa-solid fa-caret-right"></i>
        </span>
    </a>
    <div class="modal fade" id="UserNameModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content dark">
                <div class="modal-header no-border">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                </div>
                <form asp-controller="Settings" asp-action="UpdateProfile" asp-route-type="UserName" method="post">
                    <div class="modal-body">
                        <input asp-for="UserName" name="UserName" class="cool-border border-radius-0 text-light" type="text" placeholder="Username" style="padding:12px 8px; background-color:black;" />
                    </div>
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <a class="post hover-medium text-light d-flex justify-content-between" style="padding:12px 16px" data-bs-toggle="modal" data-bs-target="#PasswordModal">
        <span>
            Change Password
        </span>
        <span>
            <i class="fa-solid fa-caret-right"></i>
        </span>
    </a>
    <div class="modal fade" id="PasswordModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content dark">
                <div class="modal-header no-border">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                </div>
                <form asp-controller="Settings" asp-action="UpdateProfile" asp-route-type="Password" method="post">
                    <div class="modal-body">
                        <input asp-for="CurrentPassword" name="CurrentPassword" class="cool-border border-radius-0 text-light mb-3" type="password" placeholder="Current Password" style="padding:12px 8px; background-color:black;" />
                        <input asp-for="NewPassword" name="NewPassword" class="cool-border border-radius-0 text-light mb-3" type="password" placeholder="New Password" style="padding:12px 8px; background-color:black;" />
                        <input asp-for="ConfirmNewPassword" name="ConfirmNewPassword" class="cool-border border-radius-0 text-light mb-3" type="password" placeholder="Confirm Password" style="padding:12px 8px; background-color:black;" />
                    </div>
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <a class="post hover-medium text-light d-flex justify-content-between" style="padding:12px 16px" data-bs-toggle="modal" data-bs-target="#EmailModal">
        <span>
            Update Email address
        </span>
        <span>
            <i class="fa-solid fa-caret-right"></i>
        </span>
    </a>
    <div class="modal fade" id="EmailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content dark">
                <div class="modal-header no-border">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                </div>
                <form asp-controller="Settings" asp-action="UpdateProfile" asp-route-type="Email" method="post">
                    <div class="modal-body">
                        <input asp-for="Email" name="Email" class="cool-border border-radius-0 text-light" type="text" placeholder="Email" style="padding:12px 8px; background-color:black;" />
                    </div>
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <a  class="post hover-medium text-danger d-flex justify-content-between" style="padding:12px 16px;" data-bs-toggle="modal" data-bs-target="#Deactivate">
        <span>
            Deactivate your account
        </span>
        <span>
            <i class="fa-solid fa-caret-right"></i>
        </span>
    </a>

    <div class="modal fade" id="Deactivate" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content dark">
                <div class="modal-header no-border">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                </div>
                <div class="modal-body">
                    <span class="text-danger">This will deactivate your account</span>
                </div>
                
                <form method="post" asp-action="Deactivate">
                    <div class="modal-footer no-border">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Deactivate</button>
                    </div>
                </form>
               
            </div>
        </div>
    </div>

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="text-success mb-3 mt-3 text-center">
            @TempData["SuccessMessage"].ToString()
        </div>
    }

    <div class="text-danger mb-3 mt-3 text-center">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="text-danger mb-3 mt-3 text-center">
                @TempData["ErrorMessage"].ToString()
            </div>
        }
        
    </div>
</div>

